# THEME_GLOBAL_BEGIN
    highlight = "{{accent}}"
    frame_color = "{{accent}}"
# THEME_GLOBAL_END

# THEME_LOW_BEGIN
    background = "{{background}}"
    foreground = "{{textMuted}}"
    frame_color = "{{success}}"
# THEME_LOW_END

# THEME_NORMAL_BEGIN
    background = "{{background}}"
    foreground = "{{text}}"
    frame_color = "{{accent}}"
# THEME_NORMAL_END

# THEME_CRITICAL_BEGIN
    background = "{{background}}"
    foreground = "{{text}}"
    frame_color = "{{danger}}"
    highlight = "{{danger}}"
# THEME_CRITICAL_END

# THEME_SPOTIFY_BEGIN
    frame_color = "{{success}}"
    highlight = "{{success}}"
# THEME_SPOTIFY_END

# THEME_DISCORD_BEGIN
    frame_color = "{{info}}"
# THEME_DISCORD_END

# THEME_VOLUME_BEGIN
    frame_color = "{{accent}}"
    highlight = "{{accent}}"
# THEME_VOLUME_END

# THEME_BRIGHTNESS_BEGIN
    frame_color = "{{warning}}"
    highlight = "{{warning}}"
# THEME_BRIGHTNESS_END
