background       = 0xff{{background_rgb}}
base             = 0xff{{backgroundSecondary_rgb}}
text             = 0xff{{text_rgb}}
alternate_base   = 0xff{{surface_rgb}}
accent           = 0xff{{accent_rgb}}
accent_secondary = 0xff{{accentSecondary_rgb}}
